.HeaderMonthZone{
    background-color: rgb(61, 60, 250);
    width: 100%;
}

.tr-HeaderMonthZone{
    width: 100%;
    font-size: 0.9rem;
}

.th-HeaderMonthZone{
    color: rgb(255, 255, 255);
    padding: 13px 8px;
    text-shadow: 6px 4px 10px rgba(255, 255, 255, 25%);
}

#tt1-2{
    width: 20%;
    text-align: center;

}

#tt2-2{
    width: 60%;
    text-align: center;
}

#tt3-2{
    width: 20%;
    text-align: center;
}

.container-div-temp{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:560px) {
    .th-HeaderMonthZone{
        padding: 10px 8px;
    }
}


